.DS_Store
Thumbs.db
.idea/
.vscode/

# Android
**/.gradle/
**/.kotlin/
**/build/
**/local.properties
**/captures/
**/.cxx/
**/*.iml

# Node
**/node_modules/
**/dist/
**/.vite/

# Logs
*.log
tmp-logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example
**/secret.properties
**/secrets.properties
